In [1]:
import numpy as np 
import pandas as pd
import re

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/data/tripadvisor_hotel_reviews.csv')
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       4
1      ok nothing special charge diamond member hilto...       2
2      nice rooms not 4* experience hotel monaco seat...       3
3      unique, great stay, wonderful time hotel monac...       5
4      great stay great stay, went seahawk game aweso...       5
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       5
20487  great location price view hotel great quick pl...       4
20488  ok just looks nice modern outside, desk staff ...       2
20489  hotel theft ruined vacation hotel opened sept ...       1
20490  people talking, ca n't believe excellent ratin...       2

[20491 rows x 2 columns]

In [4]:
data.isna().sum()

Review    0
Rating    0
dtype: int64

In [5]:
def update_rating(x):
    if x<=2:
        return 0
    elif x==3:
        return 1
    else:
        return 2
 

data['Rating']=data['Rating'].apply(update_rating)
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not 4* experience hotel monaco seat...       1
3      unique, great stay, wonderful time hotel monac...       2
4      great stay great stay, went seahawk game aweso...       2
...                                                  ...     ...
20486  best kept secret 3rd time staying charm, not 5...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside, desk staff ...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking, ca n't believe excellent ratin...       0

[20491 rows x 2 columns]

**Clean the text to achieve the following:**


1.   Lower all the text.
2.   Substitute all the non alphabetical characters(a-z) by â€˜ â€˜ (space).
3. Remove all the hyperlinks if present in the text.
4. If there are multiple consequent spaces in the text, replace them by a single space (for example â€˜    â€˜ to â€˜ â€˜ ).

In [6]:
def modify(x):
    x=x.lower()
    x=re.sub(r"https?://[a-z0-9./]+", ' ', x)
    x=re.sub(r'[^a-z]',' ',x)
    x=re.sub(r' +',' ',x)
    return x

data['Review']=data['Review'].apply(modify)
data

                                                  Review  Rating
0      nice hotel expensive parking got good deal sta...       2
1      ok nothing special charge diamond member hilto...       0
2      nice rooms not experience hotel monaco seattle...       1
3      unique great stay wonderful time hotel monaco ...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time staying charm not sta...       2
20487  great location price view hotel great quick pl...       2
20488  ok just looks nice modern outside desk staff n...       0
20489  hotel theft ruined vacation hotel opened sept ...       0
20490  people talking ca n t believe excellent rating...       0

[20491 rows x 2 columns]

In [7]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
nltk.download('stopwords')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

# Tokenization

In [8]:
from nltk.tokenize import  word_tokenize

In [9]:
def tokenize_text(x):
  x=word_tokenize(x)
  return x

data['Review']=data['Review'].apply(tokenize_text)
data

                                                  Review  Rating
0      [nice, hotel, expensive, parking, got, good, d...       2
1      [ok, nothing, special, charge, diamond, member...       0
2      [nice, rooms, not, experience, hotel, monaco, ...       1
3      [unique, great, stay, wonderful, time, hotel, ...       2
4      [great, stay, great, stay, went, seahawk, game...       2
...                                                  ...     ...
20486  [best, kept, secret, rd, time, staying, charm,...       2
20487  [great, location, price, view, hotel, great, q...       2
20488  [ok, just, looks, nice, modern, outside, desk,...       0
20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490  [people, talking, ca, n, t, believe, excellent...       0

[20491 rows x 2 columns]

# Removing StopWords

In [10]:
from nltk.corpus import stopwords
nltk_stopwords = stopwords.words('english')
nltk_stopwords

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [11]:
def remove_stopwords(x):
  x=[word for word in x if word not in nltk_stopwords]
  return x

data['Review']=data['Review'].apply(remove_stopwords)
data

                                                  Review  Rating
0      [nice, hotel, expensive, parking, got, good, d...       2
1      [ok, nothing, special, charge, diamond, member...       0
2      [nice, rooms, experience, hotel, monaco, seatt...       1
3      [unique, great, stay, wonderful, time, hotel, ...       2
4      [great, stay, great, stay, went, seahawk, game...       2
...                                                  ...     ...
20486  [best, kept, secret, rd, time, staying, charm,...       2
20487  [great, location, price, view, hotel, great, q...       2
20488  [ok, looks, nice, modern, outside, desk, staff...       0
20489  [hotel, theft, ruined, vacation, hotel, opened...       0
20490  [people, talking, ca, n, believe, excellent, r...       0

[20491 rows x 2 columns]

# Stem all the words using PorterStemmer.

In [12]:
from nltk.stem import PorterStemmer

In [13]:
def stem_words(x):
  porter=PorterStemmer()
  list=[]
  for word in x:
     list.append(porter.stem(word))
  return ' '.join(list)

data['Review']=data['Review'].apply(stem_words)
data

                                                  Review  Rating
0      nice hotel expens park got good deal stay hote...       2
1      ok noth special charg diamond member hilton de...       0
2      nice room experi hotel monaco seattl good hote...       1
3      uniqu great stay wonder time hotel monaco loca...       2
4      great stay great stay went seahawk game awesom...       2
...                                                  ...     ...
20486  best kept secret rd time stay charm star ca n ...       2
20487  great locat price view hotel great quick place...       2
20488  ok look nice modern outsid desk staff n partic...       0
20489  hotel theft ruin vacat hotel open sept guest w...       0
20490  peopl talk ca n believ excel rate hotel n ye p...       0

[20491 rows x 2 columns]

In [14]:
data.to_csv('Text-Processing-Techniques.csv')